#ALDER { --main:  248, 186, 167; --alt: 23, 108, 117; --unicode:'\a3';}
#ANGEL { --main: R, G, B; --alt: R, G, B; --unicode:'\e902';}
#CELINE { --main: 71, 169, 146; --alt: 122, 62, 62; --unicode:'\a14';}
#DANTE { --main: 155, 92, 90; --alt: 105, 131, 103; --unicode:'\e900';}
#FAUST { --main: 118, 86, 128; --alt: 127, 165, 153; --unicode:'\a112';}
#JULES { --main: 205,147,126;  --alt: 68,69,98; --unicode:'\a47';}
#KAZ {  --main: 224, 180, 105;  --alt: 116, 74, 137; --unicode:'\e902';}
#KLAUS {--main: 240, 181, 171;  --alt: 122, 153, 149; --unicode:'\e906';}
#LYSANDER { --main:  90, 133, 123;  --alt:  165, 116, 109; --unicode:'\a42';}
#PARV { --main:  61, 181, 191;  --alt:  147, 82, 107; --unicode:'\a19';}
#SAMSON { --main:  66, 45, 114;  --alt: 67, 0, 155; --unicode:'\e901';}
#SILAS { --main: 178, 140, 51;  --alt: 5, 22, 59;  --unicode:'\a92';}